.headerMenu{
    padding: 1px 0;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    display:flex;
    justify-content: space-between !important;
    align-items: center;
    background-image: linear-gradient(to right, rgba(117, 16, 185, 0.945) 50%,rgba(194, 33, 132, 0.856))
}
.active{
    color: rgba(217, 226, 164, 0.897) !important;
    transform: scale(1.3);
    transition:.4s;
}
.headerMenu a{ 
    color: white;
    text-decoration: none;
}
@media screen and (max-width: 330px){
    .headerMenu .iconImg{
        width: 20px;
        /* display: none !important; */
    }
    .headerMenu ul Button{
        margin:0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        transform: scale(.7) !important; 
       
    }
    .iconImg img{
        margin:0 !important;
    }
}
.iconImg img{
    width: 40px;
    margin-left: 8px;
    animation: rotateImgMenu .5s linear;
}
@keyframes rotateImgMenu{
    from{
        opacity: .6;
        transform: scale(.5);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}