body,html{
  margin:0 !important; 
  padding:0 !important;
}
.bar{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden !important;
 
  
}
.headerGiff{
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  width:  100%;
  display:flex;
  justify-content: center;
}
.headerGiff h4{
  margin:0;
  font-weight: 500;
  padding: 10px;
  font-size:28px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(230, 218, 218);
}
.containerRedirect{
  margin-top: -5px;
  display:flex;
  justify-content: center;
   
}
.containerBanner{
  max-width: 1000px;
  display:flex;
 
  justify-content: center;
  height: 500px;
}
 
.redirect{
  background-color: rgb(230, 224, 229) !important;
  width: 230px;
}
.link{
  color: rgb(177, 28, 102);
  text-decoration: none;
  width: inherit !important;
  height: inherit !important;
}

.animate{
  animation: animateIn .6s ease-in
}
@keyframes animateIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.containerGifs{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px 0 10px;
  flex-wrap:wrap;
}

.cardGif{
  width: 250px;
  margin: 10px;
  height: 250px
}

.separateLoading{
  margin: 20%;
}
.containerSkeleton{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.loadingContainer{
  display:flex;
  margin: 10px 0 20px  0; 
  justify-content: center;
  align-items: center;
  text-align: center;
}
 
.SkeletonCard{
  margin: 8px;
  width: 240px;
  border-radius:7px;
  background-color: rgb(224, 220, 220);
  height: 200px;
}




.animateSkeleton{
  animation: animateSkeletons 1.5s infinite ease-in-out;
  transition:1s;
}
@keyframes animateSkeletons{
  from{
    opacity: .2;
  }
  20%{
    opacity: .3;
  }
  40%{
    opacity: .5;
  }
  60%{
    opacity:.7;
  }
  80%{
    opacity:.9;
  }
}

img{
  width: inherit;
  height:inherit;
}
.centerTitle{
  text-align:center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(139, 58, 78);
  font-weight: 600;
}